#welcomer{
    font-family: 'Press Start 2P', cursive;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-color: mediumpurple;
    -webkit-text-stroke-width: 4px;
    font-size: 50px;
    margin: auto;
}

#movieDisplay {
    font-size: 20px;
}