#welcomer{
    font-family: 'Press Start 2P', cursive;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-color: mediumpurple;
    -webkit-text-stroke-width: 4px;
    font-size: 50px;
    margin: auto;
}

#movieDisplay {
    font-size: 20px;
}

.btn-danger {
    background-color: firebrick; !important;
    font-size: 15px; !important;
}

.btn-success {
    background-color: green; !important;
    color: whitesmoke;
    font-size: 15px; !important;
}

img{
    object-fit: contain;
    background-color: gray();
}

