#welcomer{
    font-family: 'Press Start 2P', cursive;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-color: red;
    -webkit-text-stroke-width: 4px;
    font-size: 70px;
    margin: auto;
}

#navtext {
    font-family: 'Press Start 2P', cursive;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-color: red;
    -webkit-text-stroke-width: 1px;
    font-size: 25px;
    margin: auto;
}

#movieDisplay {
    font-size: 20px;
}

.btn-danger {
    background-color: firebrick; !important;
    font-size: 15px; !important;
}

.btn-success {
    background-color: green; !important;
    color: whitesmoke;
    font-size: 15px; !important;
}

img{
    object-fit: contain;
    background-color: black;
}

.navberry {
    background-image: url(../img/studiogibli.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.navberry img {
    opacity: 0.5;
}

body {
    background-image: url(../img/bigredbg.jpg);
    background-size: cover;
}

.card {
    height: 679px;
}


#title {
    /*border-radius: ;*/
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 250px;
}
